
@font-face{
    font-family: 'WhiteRabbit';
    src: url('whitrabt-webfont.woff') format('woff');
}


.serif {
    font-family: "Times New Roman", Times, serif;
}

.sansserif {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: Lato, sans-serif;
}

.monospace {
    font-family: monaco,Consolas,Lucida Console,monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    font-family: WhiteRabbit;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #222;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

body {
    font-family: sansserif;
    padding: 20px;
    background: #f1f1f1;
}


.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: center;
    width: 100%;
}


.leftcolumn {
    float: left;
    width: 50%;
    padding: 0px;

}

.rightsidebar {
    float: right;
    width: 30%;
    padding: 0px;
}

.container {
    width: 100%;
    height:200px;
}

.image-container {
    position:relative;
    margin:0 auto;
    background-size:cover;
    max-width:1800px;
    width:100%;
    height:100%;
}

h3 {
    font-family: WhiteRabbit;
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

h4 {font-family: WhiteRabbit;}
h2 {font-family: WhiteRabbit;}
p {font-family: Lato,sansserif}